.myLogin .mui-input-group::after {
  background-color: transparent;
}
.myLogin #loginBtn {
  width: 95%;
  margin: 10px auto;
  background-color: #006699;
  padding: 8px 0;
}
.myLogin #register {
  display: block;
  text-align: right;
  margin-top: 20px;
  padding: 8px;
  color: #006699;
}
