.container {
  padding: 10px;
}
.container .searchBox {
  width: 100%;
  height: 30px;
  border: 1px solid #006699;
  margin-bottom: 20px;
  position: relative;
}
.container .searchBox input[type="text"] {
  height: 28px;
  line-height: 28px;
  border: none;
  padding: 0 70px 0 10px;
  font-size: 14px;
}
.container .searchBox input[type="button"] {
  width: 60px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: #006699;
  color: #ffffff;
  border-radius: 0;
}
.container .historyBox {
  padding-bottom: 10px;
}
.container .searchList {
  color: black;
}
.container .searchList .searchListBox li::after {
  left: 0;
}
